.auth-layout {
    width: 100%;
    height: 100%;
    min-height: 100svh;
    padding: px-to-rem(30px);
    .container {
        min-height: calc(100vh - px-to-rem(72px) - px-to-rem(46px));
        display: flex;
        justify-content: center;
        .content {
            display: flex;
            width: 70%;
            justify-content: center;
            align-items: center;
        }
        .side-animation {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25%;
            background-color: $light-gray;
            display: flex;
            align-items: center;
            justify-content: center;
            @include dark {
                background-color: var(--mantine-color-dark-8);
            }
        }
    }
}

html:dir(ltr) {
    .auth-layout {
        .side-animation {
            left: unset;
            right: 0;
        }
    }
}
html[dir="ltr"] {
    .auth-layout {
        .side-animation {
            left: unset;
            right: 0;
        }
    }
}
@media screen and (max-width: $mantine-breakpoint-sm) {
    .auth-layout {
        padding: px-to-rem(15px);
    }
}
@media screen and (max-width: $mantine-breakpoint-md) {
    .auth-layout {
        .container {
            .content {
                width: 100%;
            }
            .side-animation {
                display: none;
            }
        }
    }
}
