.button-preview {
    max-width: px-to-rem(170px);
    position: relative;
    transition-duration: 300ms;
    border-radius: 0;
    border: none;
    &[data-checked] {
        outline: 3px solid var(--mantine-primary-color-filled);
        outline-offset: 3px;
        transform: scale(0.95);
    }
    .indicator {
        appearance: none;
        position: absolute;
        opacity: 0;
    }
    // radius
    .rounded-sm {
        border-radius: 12px;
    }
    .rounded-lg {
        border-radius: 24px;
    }
    div {
        width: 100%;
        height: 40px;
    }
    // filled
    .filled-button {
        width: 100%;
        height: 40px;
        background-color: black;
    }
    .filled-button-animation {
        width: 100%;
        height: 40px;
        background-color: black;
        position: relative;
        overflow-x: clip;


        &::before {
            content: "";
            position: absolute;
            left: -2px;
            right: -2px;
            height: 3px;
            overflow: hidden;
            mask-position: 0px top;
            top: -2px;
            mask-size: 640px 3px;
            background-color: inherit;
            mask-image: url('/src/assets/top.svg')
        }
        &::after {
            content: "";
            position: absolute;
            left: -2px;
            right: -2px;
            height: 3px;
            overflow: hidden;
            mask-position: 0px top;
            bottom: -2px;
            mask-size: 640px 3px;
            background-color: inherit;
            mask-image: url('/src/assets/bottom.svg')
        }

        &:hover::before {
            // animation: maskAnimation 0.5s ease-in-out infinite;
            animation: maskAnimation 20s linear 0s infinite ;
        }
        &:hover::after {
            animation: maskAnimation-2 20s linear 0s infinite ;
        }
    }
    // outline
    .outline-button {
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid black;
    }
    // shadow
    .shadow-button {
        width: 100%;
        height: 40px;
        background-color: white;
        box-shadow: 0px 3px 6px #ccc;
    }
    // shadow
    .hard-shadow-button {
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid black;
        box-shadow: 4px 4px 0 black;
        transition: .2s ease-in-out;
        z-index: 10;
        position: relative;

        &:hover {
            transform: translate(4px, 4px);
            box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
            }
    }
    // custom
    .custom-button-one {
        width: 100%;
        height: 40px;
        position: relative;
        display: inline-block;
        background-color: #f68b1e; 
        color: white;
        font-weight: bold;
        text-align: center;
        border: none;
        cursor: pointer;
        font-family: Arial, sans-serif;
        text-decoration: none;
        border: 1px solid black;
        box-shadow: 10px 6px 0px #000; 
        transition: .2s ease-in-out;
        &:hover {
        transform: translate(4px, 4px);
        box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
        }
    }

    .custom-button-two {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        background-color: transparent;
        transition: all 0.5s ease-out;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 20%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            // background-color: var(--button-color);
            background-color: rgb(156, 102, 209);
            opacity: 0;
            transition: all 0.5s ease-out;
        }

        &::before {
            content: "";
            position: absolute;
            border: 2px solid black;
            top: 5px;
            bottom: 5px;
            left: -6px;
            right: -6px;
            transition: all 0.5s ease-out;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
            
        }
        &:hover::before {
            border: none;
        }
    }

    .custom-button-three {
        position: relative;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        .corner {
            position: absolute;
            width: 10px; /* Corner square size */
            height: 10px;
            background-color: white;
            border: 2px solid black; /* Corner square border */
        }
        .top-left {
            top: -6px; /* Adjust to align properly */
            left: -6px;
        }

        .top-right {
            top: -6px;
            right: -6px;
        }

        .bottom-left {
            bottom: -6px;
            left: -6px;
        }

        .bottom-right {
            bottom: -6px;
            right: -6px;
        }
    }
}




@keyframes maskAnimation {
    0% {
        mask-position: 0px top;
    }

    100% {
        mask-position: 680px top;
    }
}

@keyframes maskAnimation-2 {
    0% {
        mask-position: 0px top;
    }

    100% {
        mask-position: -680px top;
    }
}