.bio-block-wrapper {
    border-radius: var(--mantine-radius-lg);
    @include light {
        border: 1px solid var(--mantine-color-gray-2);
        background-color: var(--mantine-color-white);
    }

    @include dark {
        background-color: var(--mantine-color-dark-8);
        border: 1px solid var(--mantine-color-dark-4);
    }
    .drag-handle {
        touch-action: none;
        &:focus {
            outline: none;
        }
    }
}
